Repository googleapis/java-pubsublite-kafka, pull requests merged in 2023-01, with the labels that each got.

#363 feat: add pubsublite-kafka-auth module
  README.md
  kafka_gcp_credentials.py
  pom.xml
  pubsublite-kafka-auth/pom.xml
  pubsublite-kafka-auth/src/main/java/com/google/cloud/pubsublite/kafka/ClientParameters.java
  pubsublite-kafka-auth/src/main/java/com/google/cloud/pubsublite/kafka/internal/AuthServer.java
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/pubsublite/KafkaProducerExample.java
  samples/snippets/src/test/java/pubsublite/QuickStartIT.java
Labels: api: pubsublite, size: l

#378 fix: update pom to add comment
  samples/snapshot/pom.xml
Labels: automerge, api: pubsublite, size: xs

#384 samples: remove sample region tags for unplanned docs samples
  README.md
  samples/snippets/src/main/java/pubsublite/KafkaProducerExample.java
Labels: samples, api: pubsublite, size: xs

#391 fix: set max.in.flight.requests.per.connection to 1
  pubsublite-kafka-auth/src/main/java/com/google/cloud/pubsublite/kafka/ClientParameters.java
Labels: api: pubsublite, size: xs

#397 fix: add dependency to fix QuickStartIT failures
  README.md
  samples/snippets/pom.xml
Labels: api: pubsublite, size: s
