Repository googleapis/java-pubsublite-kafka, pull requests merged in 2024-10, with the labels that each got.

#482 fix: Update kafka-clients to 3.8.0 past snappy CVEs and implement dum…
  pom.xml
  pubsublite-kafka/src/main/java/com/google/cloud/pubsublite/kafka/PubsubLiteConsumer.java
  pubsublite-kafka/src/main/java/com/google/cloud/pubsublite/kafka/PubsubLiteProducer.java
Labels: api: pubsublite, size: s

#486 build: use multiScm for Kokoro release builds
  .github/release-trigger.yml
Labels: api: pubsublite, size: xs

#488 deps: Update google-cloud-pubsublite-parent version to 1.14.5
  pom.xml
  pubsublite-kafka-auth/pom.xml
  pubsublite-kafka/pom.xml
  pubsublite-kafka/src/main/java/com/google/cloud/pubsublite/kafka/SinglePartitionSubscriber.java
  pubsublite-kafka/src/main/java/com/google/cloud/pubsublite/kafka/SingleSubscriptionConsumerImpl.java
  pubsublite-kafka/src/test/java/com/google/cloud/pubsublite/kafka/SinglePartitionSubscriberTest.java
  pubsublite-kafka/src/test/java/com/google/cloud/pubsublite/kafka/SingleSubscriptionConsumerImplTest.java
  pubsublite-kafka/src/test/java/com/google/cloud/pubsublite/kafka/StatusTestHelpers.java
Labels: api: pubsublite, size: m

#491 chore: Update samples to run on Java 11 since samples action requires a newer version of Java
  .github/workflows/samples.yaml
Labels: samples, api: pubsublite, size: xs

#493 deps: Update google-cloud-pubsublite-parent to 1.14.6
  pom.xml
Labels: api: pubsublite, size: xs
